@font-face {
    font-family: 'Roboto-Italic';
    src: url('../fonts/Roboto-Italic.ttf') format('truetype');
}

body, html {
    height: 100%;
}

body {
    background-image: url('../images/main_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/*
    Container for every component from html-page. Every component in main-container will be gray
*/
.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    text-align: center;
    font-family: 'Roboto-Italic', sans-serif;
}

.rectangle {
    background-color: rgba(191, 191, 191, 0.8);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}

.container-field {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.label {
    margin-right: 10px;
    text-align: right;
    font-family: 'Roboto-Italic', sans-serif;
    font-size: inherit;
}