<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Check password</title>
    <link href="../static/css/checking.css" rel="stylesheet" th:href="@{/css/checking.css}">
</head>
<body>
    <div class="container-main">
        <div class="rectangle">
            <h1>Enter your password to verify it</h1>

                <div class="container-field">
                    <form action="/checking/checkingResult" method="post">
                        <input type="text" name="inputString" class="label">
                        <button type="submit" class="label">Show result</button>
                    </form>
                </div>
        </div>
    </div>

</body>
</html>