<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Main page</title>
        <link rel="stylesheet" href="../static/main.css">
    </head>

    <body>
        <div class="container">
            <div class="rectangle">
                <h1>Welcome to the site for generating passwords and checking passwords!</h1>
                <div class="buttons">
                    <a href="generating" class="button">
                        Generating password
                    </a>
                    <a href="checking" class="button">
                        Checking password
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>