<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Generate password</title>
        <link href="../static/css/passwordForm.css" rel="stylesheet" type="text/css" th:href="@{/css/passwordForm.css}">
    </head>

    <body>
        <div class="container-main">
            <div class="rectangle">
                <h1>Select options to generate a password</h1>

                <form th:object="${password}" th:action="@{/passwordform/generate}" method="post">
                    <div class="container-field">
                        <label for="count" class="label">Enter the number of passwords to generate:</label>
                        <input type="number" id="count" name="count" th:field="*{count}">
                    </div>

                    <div class="container-field">
                        <label for="length" class="label">Enter the number of characters:</label>
                        <input type="number" id="length" name="length" th:field="*{length}">
                    </div>

                    <div class="container-field">
                        <label for="SpecialCharsCheckbox" class="label">Include special characters :</label>
                        <input type="checkbox" id="SpecialCharsCheckbox" name="SpecialCharsCheckbox" th:field="*{includeSpecialChars}">
                    </div>

                    <div class="container-field">
                        <label for="BigLettersCheckbox" class="label">Enable capital letters :</label>
                        <input type="checkbox" id="BigLettersCheckbox" name="BigLettersCheckbox" th:field="*{includeUpperCase}">
                    </div>

                    <div class="container-field">
                        <label for="NumbersCheckbox" class="label">Include numbers :</label>
                        <input type="checkbox" id="NumbersCheckbox" name="NumbersCheckbox" th:field="*{includeNumbers}">
                    </div>

                    <div class="container-field">
                        <button type="submit" class="label">Generate</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>