<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Password Generator</title>
    <link href="../static/css/passwordResult.css" rel="stylesheet" type="text/css" th:href="@{/css/passwordResult.css}">
</head>
<body>
<div class="container-main">
    <div class="rectangle">
        <h1>Generated passwords:</h1>
        <ul>
            <li th:each="password : ${passwords}" th:text="${password}"></li>
        </ul>
    </div>
</div>
</body>
</html>